html{
    color: #333;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
}

li{
    padding: 0.3%;
    list-style: none;
}

header a{
    color: #1633E6;
}

nav{					/**the menu (nav) for the webpages**/
    height: 54px;
    padding: 0px;
    margin: 0px 0px 0px 4%;
    width: 130%;
    overflow: hidden;

}

nav ul{
    height: 120%;
    padding: 0px;
    /*margin: 5px auto 0px auto;	/*top margin*/

}

nav li{			/**targets the list inside the menu div**/
    float: left;
    list-style: none;
    font-size: 22px;
    background-color: #06E047;
    padding: 1px 30px 1px 0px;
    height: 38px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 14%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: 2px;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

nav li a{		/**Targets the links inside the menu**/
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 8px 0% 10px 33%;
}

body {
    padding: 0px;
    margin: 0px;
}


#wrapper{
    width: 90%;
    padding: 0px;
    margin: 0px auto;
    background-color: #ffffff;
}

header{
    border-bottom: 3px solid #333333;
    padding: 1% 1% 0% 1%;
    height: 144px;
    width: 98%;
    overflow: hidden;
}

#Title{
    width: 40%;
    margin: 0 auto;
}

#Title h1{
    text-align: center;
    font-size: 32px;
}

#headerRight{
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    font-size: 20px;
}


#homeLink{
    height: 32px;
    width: 150px;
    float: left;
    text-align: center;
    font-size: 28px;
    background-color: red;
    padding: 50px;
    margin: 15px;
    color: #111;
    border-radius: 2px;
    overflow: hidden;
}

#backBtn{
    float: left;
    font-size: 1.5em;
}

#centerTitle{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#login{
    margin: 0px auto;
    width: 30%;
}

#login table{
    width: 100%;
}

#login th{
    text-align: left;
    font-size: 20px;
}

#login td{
    text-align: right;
    font-size: 20px;
}

#login input{
    font-size: 20px;
}

#viewTable{
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
    text-align: center;
    margin-top: 40px;
}

.detailsTable{
    width: 60%;
    margin: 0px auto;
    border-collapse: collapse;
    text-align: left;
    font-size: 18px;
    min-width: 400px;
}

.detailsTable tr{
    height: 35px;
    border-bottom: 1px solid #333333;
}

.detailsTable td{
    text-align: right;
    width: 60%;
}

.updateTable{
    border: 0px;
    align: center;
    width: 40%;
    margin: 0px auto;
    min-width: 400px;
}

.updateTable2{
    border: 0px;
    align: center;
    width: 60%;
    margin: 30px auto;
    min-width: 400px;
    font-size: 18px;
}

.updateTable th{
    text-align: left;
    width: 50%;
}

.updateTable td{
    text-align: right;
    width: 50%;
}

.updateTable td input{
    width: 100%;
}

#submit{
    width: 50%;
}

.updateTable2 th{
    width: 40%;
    text-align: left;
}
.updateTable2 td{
    width: 60%;
}
.updateTable2 td input{
    width: 50%;
}

select{
    font-size: 16px;
    padding: 0.5%;
    margin-top: 2%;
}

#viewTable th, #viewTable td {
    border: 1px solid #333333;
    padding: 8px 3px;
    word-wrap:break-word
}

footer{
    margin: 0px;
    padding: 20px;
}

input{
    font-size: 16px;
    padding: 0.5%;
    margin-top: 2%;
}

#custForm{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;

}

#custForm input{
    padding: 2px 15px;
}


#custFormFloat{
    float: left;
    height: 34px;
    display: block;
    margin-right: 10px;
    line-height: 32px;
}

#miniMenu{
    width: 20%;
    float: right;
    position: relative;
    top: -60px;
}