html{
    color: #333;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
}

li{
    padding: 0.3%;
    list-style: none;
}

header a{
    color: #1633E6;
}

nav{					/**the menu (nav) for the webpages**/
    height: 54px;
    padding: 0px;
    margin: 0px 0px 0px 4%;
    width: 130%;
    overflow: hidden;

}

nav ul{
    height: 120%;
    padding: 0px;
    /*margin: 5px auto 0px auto;	/*top margin*/

}

nav li{			/**targets the list inside the menu div**/
    float: left;
    list-style: none;
    font-size: 22px;
    background-color: #06E047;
    padding: 1px 30px 1px 0px;
    height: 38px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 14%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: 2px;
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
}

nav li a{		/**Targets the links inside the menu**/
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 8px 0% 10px 33%;
}

body {
    padding: 0px;
    margin: 0px;
}


#wrapper{
    width: 90%;
    padding: 0px;
    margin: 0px auto;
    background-color: #ffffff;
}

header{
    border-bottom: 3px solid #333333;
    padding: 1% 1% 0% 1%;
    height: 163px;
    width: 98%;
}

#Title{
    margin-left: 20%;
    float: left;
}

#headerRight{
    float: right;
    text-align: right;
    font-size: 20px;
}


#homeLink{
    height: 32px;
    width: 150px;
    float: left;
    text-align: center;
    font-size: 28px;
    background-color: red;
    padding: 50px;
    margin: 15px;
    color: #111;
    border-radius: 2px;
    overflow: hidden;
}

#backBtn{
    float: left;

}

#centerTitle{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#viewTable{
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
    text-align: center;
    margin-top: 40px;
}

.updateTable{
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
}

.detailsTable{
    width: 60%;
    margin: 0px auto;
    border-collapse: collapse;
    text-align: left;
    font-size: 18px;
}

.detailsTable tr{
    height: 35px;
    border-bottom: 1px solid #333333;
}

.detailsTable td{
    text-align: right;
    width: 60%;
}

#viewTable th, #viewTable td {
    border: 1px solid #333333;
    padding: 8px 3px;
    word-wrap:break-word
}

#updateTable th, #updateTable td {
    border: 0px solid #333333;
    padding-bottom: 5px;
}

footer{
    margin: 0px;
    padding: 0px;
}